<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base Swagger API</title>
  <link rel="stylesheet" href="src/css/index.css">
  <script src="src/js/index.js"></script>
</head>
<body>
  <h1>
    Base Swagger + API <br>Made With Love By : 
    <span class="blinking"><%= owner %></span>
  </h1>
  <p class="rainbow" data-link="https://github.com/Kaviaann/base-api-swagger">Use the base!!</p>
  <h2 data-href="/endpoint" class="heartbeat">Check Swagger Doc</h2>
  <ul>
    <li data-link="https://github.com/Kaviaann">Github</li>
    <li data-link="https://npmjs.com/~kaviaann">Npm</li>
    <li data-link="https://wa.me/6282311168972?text=Hi%20Saya%20Datang%20Dari%20Base%20Swagger+API">Whatsapp</li>
  </ul>
</body>
</html>